<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ServerConfiguration>
    <Fluids/>
    <serverAdress>192.168.1.41</serverAdress>
    <databaseName>barduino</databaseName>
    <username>barduino</username>
    <arduinoPort>8008</arduinoPort>
    <clientPort>4444</clientPort>
    <discoveryPort>28785</discoveryPort>
</ServerConfiguration>
